@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,600&family=Roboto&display=swap');

@import url("components/container.css");
@import url("components/store.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");



body {
   font-family: 'Lora', serif;
   font-size: 18px;$
   margin: 0px;

}
h1, h2, h3 {
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}

.btn-blue {
	background-color: purple;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}
.btn-blue:hover {
	background-color: black;
	color: white;